@import url('https://fonts.googleapis.com/css2?family=Marcellus&family=Manrope:wght@200..800&display=swap');

body {
    font-family: 'Manrope', sans-serif;
    /* overflow-x: hidden; */
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Marcellus', serif;
}
body {
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
  background: #F4F4F4;
}
/* body{
    font-family: sans-serif;
} */
.form-control{
    border: solid 1px rgb(135, 135, 135);
}
.form-control:focus{
    border: 0px !important;
}
.active-link{
}
.nav-link, .navbar-brand{
    /* padding-bottom: 0px !important;
    margin-bottom: 0px !important;
    margin-top: 0px !important;
    padding-top: 0px !important; */
}
.form-btn{
    background-color: rgb(0, 30, 120);
    border: none;
}
.loc-btn-active{
    background-color: #002479;
    color: white;
}
@view-transition {
    navigation: auto;
}

::view-transition-old(root) {
    animation: slide-out .4s ease forwards;
}

::view-transition-new(root) {
    animation: slide-in .4s ease forwards;
}
::view-transition-group(poster) {
    animation-duration: 1s;
}
@keyframes slide-out {
    to {
        transform: translateX(-30%);
        opacity: 0;
    }
}

@keyframes slide-in {
    from {
        transform: translateX(30%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}