
body {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
}
/* body{
    font-family: sans-serif;
} */
.form-control{
    border-radius: 0px !important;
}
.form-control:focus{
    border: 0px !important;
}
.btn{
    border-radius: 5px !important;
}
.active-link{
    border-bottom: solid 2px black;
}


